
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');

[dir] .nx-theme-styles .nx-theme-label-1 {
    font-family: "Nunito";
    
    font-size: inherit;
}
[dir] .nx-theme-styles .nx-theme-richtext {
    font-family: "Nunito";
    font-size: inherit;
}



