
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@100&display=swap');

[dir] .nx-theme-styles .nx-theme-label-1 {
    font-family: "Nunito";
    
    font-size: inherit;
}
[dir] .nx-theme-styles .nx-theme-richtext {
    font-family: "Nunito";
    font-size: inherit;
}
.nx-form.container-fluid.nx-theme-form { 
  height: 700px; 
  overflow: auto; 
} 
ntx-multi-page .nx-multi-page { 
  position: relative; 
} 
/* Sticky Header */ 
.nx-multi-page-heading { 
  position: sticky; 
  top: -30px; 
  z-index: 999; 
  background-color: #ebe419;
}


